body {
  font-family: 'Open Sans', sans-serif;
}

main {
	margin: 50px 0 0 0;
}

.navbar-brand.darkbar {
  background-color: #222222;
  transition: all 0.2s;
  margin-left: -15px;
  margin-right: 15px;
  margin-top: -8px;
  margin-bottom: -8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand.darkbar:hover {
  background-color: #444444;
}
.navbar {
  background-color: #222222;
  border: 0px;
  padding-left: 0px;
}

.navbar-right {
  float: right!important;
}

.navbar a {
  text-size: 16px;
  color: #e0e0e0;
}

.logoText {
  padding-left: 5px;
}

.bufferSpace {
  width: 150px;
}

.option-icons li {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-top: -8px;
  margin-bottom: -8px;
  vertical-align: middle;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

.create {
  color: #2e59a0;
  /* -webkit-backface-visibility: hidden; */
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
 /* background-color: #1414a0; */
  margin-right: -5px;
 }

.create:hover {
  color: #e0e0e0;
  background-color: #2e59a0;
}

.create li{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
.upload {
  color: #d24913;
  /* -webkit-backface-visibility: hidden; */
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  /* background-color: #1414a0; */
  margin-right: -5px;
}

.upload:hover {
  color: #e0e0e0;
  background-color: #d24913;
}

.add {
  color: #444444;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
 /* background-color: #42a021; */
  white-space: nowrap;
  margin-right: -4px;
}

.add.active {
  color: #42a021;
}

.add:hover {
  color: #e0e0e0;
  background-color: #444444;
}

.add.active:hover {
  color: #e0e0e0;
  background: #42a021;
}

.delete {
  color: #444444;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
 /* background-color: #a0141b; */
  white-space: nowrap;
  margin-right: -4px;
}

.delete.active {
  color: #a0141b;
}

.delete:hover {
  color: #e0e0e0;
  background-color: #444444;
}

.delete.active:hover {
  color: #e0e0e0;
  background: #a0141b;
}

.options {
  color: #d2428f;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  /* background-color: #a0141b; */
  white-space: nowrap;
  margin-right: -31px;
}

.options:hover {
  color: #e0e0e0;
  background-color:  #d2428f;
}

.hoverinfo {
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  position: absolute;
  transform: translateY(26px);
  -webkit-transform: translateY(26px);
  transition: all 0.2s;
  padding: 10px 15px 10px 15px;
}

.hoverinfo.active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  display: block;
  transform: translateY(14px);
  -webkit-transform: translateY(14px);
  cursor: pointer;
  transition: all 0.2s;
}

.create .hoverinfo {
  width: 190px;
}

.create .hoverinfo.clicked {
  width: 250px;
}

.upload .hoverinfo {
  width: 190px;
}

.upload .hoverinfo.clicked {
  width: 270px;
}

.hoverinfo2 {
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  position: absolute;
  transition: all 0.2s;
  padding: 13px 15px 13px 15px;
  white-space: nowrap;
}

.hoverinfo2.active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  display: block;
  cursor: pointer;
}

.create .hoverinfo2 {
  width: 150px;
  background: #2e59a0;
}

.upload .hoverinfo2 {
  width: 170px;
  background: #d24913;
}

.clickinfo {
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  position: absolute;
  transform: translateY(68px) translateX(-15px);
  -webkit-transform: translateY(68px) translateX(-15px);
  transition: all 0.2s;
  padding: 10px 15px 10px 15px;
}

.clickinfo.active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  display: block;
  transform: translateY(56px) translateX(-15px);
  -webkit-transform: translateY(56px) translateX(-15px);
  cursor: pointer;
}

.create .hoverinfo{
  background: #2e59a0;
}

.create .barChart {
  background: #224276;
}

.create .barChart:hover{
  background: #2e59a0;
}

.create .mapChart{
  background: #224276;
}

.create .mapChart:hover{
  background: #2e59a0;
}

.upload .hoverinfo {
  background: #d24913;
}

.upload .barChart{
  background: #b24513;
}

.upload .barChart:hover{
  background: #d24913;
}

.upload .mapChart{
  background: #b24513;
}

.upload .mapChart:hover{
  background: #d24913;
}

.add .hoverinfo {
  background: #444444;
}

.add.active .hoverinfo {
  background: #42a021;
}

.delete .hoverinfo {
  background: #444444;
}

.delete.active .hoverinfo {
  background: #a0141b;
}

.options .hoverinfo {
  transform: translateY(26px) translateX(-38px);
  background: #d2428f;
}

.options .hoverinfo.active {
  transform: translateY(14px) translateX(-38px);
  background: #d2428f;
}

.barChart .hoverinfo2{
  transform: translateY(-36px) translateX(120px);
}

.barChart .hoverinfo2.active{
  transform: translateY(-36px) translateX(100px);
}

.mapChart .hoverinfo2{
  transform: translateY(-36px) translateX(70px);
}

.mapChart .hoverinfo2.active{
  transform: translateY(-36px) translateX(50px);
}

.background-body {
  position: absolute;
  top: 25%;
  left: 40%;
  color: gray;
  opacity: .15;
  margin: 0 auto;
  z-index: -30;
}

.big-icon {
  font-size: 400px;
}

svg.map {
	fill: #ccc;
}

svg.map .state-boundary {
 	fill: none;
 	stroke: #555;
 	stroke-dasharray: 2,2;
 	stroke-linejoin: round;
}

svg.map .place {
	fill: #666;
}

svg.map .data-point {
	fill: black;
}

svg.barChart {
}

.bar {
  transition: all 0.2s;
	fill: #2e59a0;
}

.bar:hover {
  fill: #4883ee;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dialogBox{
  position: absolute;
  top: 15%;
  left: 30%;
  height: 600px;
  color: #e0e0e0;
}

.dialogBox i {
  text-align: center;
}
 #dialogImage {
   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;
   background: #224276;
   z-index: 5;
 }

 #dialogImage i.fa.fa-map {
   padding-right: 10px;
 }

#dialogImage i.fa.fa-bar-chart {
  padding-right: 10px;
}

.addButton {
  transition: .2s;
  float: left;
  margin-top: -15px;
  padding-top: 15px;
  height: 54px;
  width: 54px;
  color: #42a021;
  background: #224276;
}

.addButton:hover {
  color: #e0e0e0;
  background: #42a021;
}

.deleteButton {
  transition: .2s;
  float: left;
  margin-top: -15px;
  padding-top: 15px;
  height: 54px;
  width: 54px;
  color: #a0141b;
  background: #224276;
}

.deleteButton:hover {
  color: #e0e0e0;
  background:#a0141b;
}

.closeButton {
  transition: .2s;
  float: right;
  margin-top: -15px;
  padding-top: 15px;
  height: 54px;
  width: 54px;
  background: #224276;
}

.closeButton:hover {
  color: #e0e0e0;
  background: #dc1417;
}

#dialogBottom {
  z-index: 5;
  position: absolute;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #224276;
  bottom: 0;
  left: 0;
  width: 500px;
  transition: all .2s;
}

#dialogBottom:hover {
  background: #4883ee;
}

.elementAdd {
  height: 500px;
  width: 500px;
  color: #e0e0e0;
  background: #2e59a0;
  overflow-y: auto;
}

.element {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

.element #title {
  padding-left: 5px;
  padding-right: 10px;
}

.element .keyboard {
  color: #222222;
}

